{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block body %}
    <div class="container my-5"></div>
        <div class="container mx-auto p-2 text-bg-dark p-3 rounded-4 w-50 min-vw-50">            
            <form action="/register" method="POST">
                {% if msg=='Account already exists!' %}
                    <div class="alert alert-danger text-center"><p class="fw-bold fs-3">{{msg}}</p></div>
                {% endif %}
                
                <div class="mb-3">
                    <label for="email" class="form-label">EMAIL</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">USERNAME</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter your Password" id="password" required>
                </div>
                <div class="container d-grid gap-2 col-6 mx-auto"> 
                    <button type="submit" class="btn btn-outline-success rounded-4">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}