{% extends 'base.html' %}
{% block title %}Sales{% endblock title %}

{% block body %}
    <div class="position-fixed top-50 start-50 translate-middle bg-white border rounded shadow p-3" style="width: 90%; max-width: 1300px; z-index: 1050;">
        {% if sales|length == 0 %}
            <p class="text-center text-danger fw-bold fs-4">No sales records found!</p>
        {% else %}
            <h2 class="text-center sticky-top">Sales Report</h2>
            <div style="max-height: 340px; overflow-y: auto;">
                <div class="salesTable" id="salesTable">
                    <input class="search form-control mb-3" placeholder="Search by Bike Make, Model, Year or Buyer Name">
                    <table class="table table-striped text-center">
                        <thead class="sticky-top">
                            <tr>
                                <th scope="col">SNo</th>
                                <th scope="col" class="sort" data-sort="make">Bike Make</th>
                                <th scope="col" class="sort" data-sort="model">Bike Model</th>
                                <th scope="col" class="sort" data-sort="year">Bike Year</th>
                                <th scope="col">Sale Price</th>
                                <th scope="col" class="sort" data-sort="name">Buyer Name</th>
                                <th scope="col">Contact No.</th>
                                <th scope="col">Address</th>
                                <th scope="col">Sale Time</th>
                                <th scope="col"></th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for sale in sales %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td class="make">{{sale[1]}}</td>
                                    <td class="model">{{sale[2]}}</td>
                                    <td class="year">{{sale[3]}}</td>
                                    <td>{{sale[4]}}</td>
                                    <td class="name">{{sale[5]}}</td>
                                    <td>{{sale[6]}}</td>
                                    <td>{{sale[7]}}</td>
                                    <td>{{sale[8]}}</td>
                                    <td>{{sale[9]}}</td>
                                    <td>
                                        <form action="/delete_sale/{{sale[0]}}" method="post" onsubmit="return confirm('Are you sure you want to remove this Sale Record?');">
                                            <input type="hidden" name="sale_id" value="{{sale[0]}}">
                                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        var options = {
                            valueNames: [ 'make', 'model', 'year', 'name' ]
                        };
                        var salesTable = new List('salesTable', options);
                    </script>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock body %}